body{
    background-color: rgba(97, 97, 97, 0.171);
    min-width: 400px;
    text-align: center;
}

#userInput{
    padding:6px;
   width: 66%;
   margin-bottom: 3px;
   border: 2px solid;
   border-radius: 4px;
   border-color: hsl(41, 84%, 50%);
   box-shadow: 2px 2px 4px rgb(85, 80, 80);
   background-color: rgb(201, 197, 192);
   margin-bottom: 5px;
}

#submitBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
     padding-right: 20px;
     background-color: hsl(36, 67%, 39%);
     color: antiquewhite;
     border-radius: 3px;
     border: 0px;
     box-shadow: 2px 2px 4px black;
}

#submitBtn:hover{
    background-color: hsl(36, 80%, 25%) ;
    cursor: pointer;
}
ul{
   margin: 0px;
   padding-left: 0;
}

li{
   list-style-type:none ;
 
 
}

a{
   /* text-decoration: none;*/
    color: hsl(36, 87%, 50%);
}
a:hover{
    color: hsl(36, 80%, 35%);
}

#deleteAllBtn{
     padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
     padding-right: 20px;
     background-color: hsl(36, 67%, 39%);
     color: antiquewhite;
     border-radius: 3px;
     border: 0px;
     box-shadow: 2px 2px 4px black;
}

#deleteAllBtn:hover {

      background-color:hsl(36, 83%, 25%) ;
    cursor: pointer;

}

#saveTab-Btn{
       padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
     padding-right: 20px;
     background-color: hsl(36, 67%, 39%);
     color: antiquewhite;
     border-radius: 3px;
     border: 0px;
      box-shadow: 2px 2px 4px black;

}

#saveTab-Btn:hover{
          background-color:hsl(36, 62%, 25%) ;
    cursor: pointer;

}

.allBtns{
    margin-bottom: 3px;
}